@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-end infinite;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply antialiased;
}